<div class="dark-background-container">
	<div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-8 cell">
      	<div class="home-hero-title">
  	    	<h1><%= t('.titol_test_energetic') %></h1>
          <h2><%= t('.subtitol_test_energetic') %></h2>
  	    </div>
      </div>
      <div class="medium-4 cell">
    	<%= image_tag('https://d116p86eni6yt2.cloudfront.net/imatges/logo_test_energetic.png', :alt => t('.logo_test_energetic'), :class => 'logo-app') %>
      </div>
    </div>
  </div>
</div>