<div class="dark-background-container">
	<div class="grid-container">
    <div class="grid-x grid-margin-x">
	    <div class="medium-12 cell">
	    	<div class="heavy-container">
        	<div class="heavy-title-container">
	      		<h2 class="heavy-title"><%= t('.tutorials') %></h2>
	      	</div>
	      	
	      	<div class="heavy-container-form">
						<% if params[:locale] == 'ca' %>
						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>1. Presentació de l'aplicatiu</h4>
									<p>En aquest vídeo mostrem l'abast de l'aplicatiu i fem un resum molt breu del seu funcionament.</p>
								</div>
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393868834" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>2. Registre i configuració del compte</h4>
									<p>En aquest vídeo mostrem el procés que cal seguir per registrar-se a l'aplicatiu del Test energètic i com configurar el compte d'usuari.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393870309" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>3. Introducció de dades</h4>
									<p>En aquest vídeo mostrem el procés que cal seguir per crear un nou test i introduir la informació necessària per a generar l'informe final.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393879917" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>4. Càlcul de transmitàncies tèrmiques</h4>
									<p>L'apartat de definició de l'envolupant tèrmica conté una calculadora de transmitàncies tèrmiques que comprova si compleixen amb el CTE. També permet generar un document detallat de les transmitàncies tèrmiques dels tancaments.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393882114" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

					<% else %>
						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>1. Presentación de la aplicación</h4>
									<p>En este vídeo mostramos el alcance de la aplicación y hacemos un resumen muy breve de su funcionamiento.</p>
								</div>
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393868834" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>2. Registro y configuración de la cuenta</h4>
									<p>En este vídeo mostramos el proceso a seguir para registrarse en la aplicación del Test energético y como configurar la cuenta de usuario.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393870309" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>3. Introducción de datos</h4>
									<p>En este vídeo mostramos el proceso para crear un nuevo test e introducir la información necesaria para obtener el documento final.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393879917" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="dades-container">
							<div class="grid-x grid-margin-x">
								<div class="medium-5 cell">
									<h4>4. Cálculo de transmitancias térmicas</h4>
									<p>El apartado de definición de la envolvente térmica contiene una calculadora de transmitancias térmicas que comprueba si cumplen con el CTE. También permite generar un documento detallado de las transmitancias térmicas de los cerramientos.</p>
								</div>		
								<div class="medium-7 cell">
									<div class="flex-video widescreen vimeo">
									  <iframe src="http://player.vimeo.com/video/393882114" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>