<div class="reveal" id="modal-proposta" data-reveal>
  <h3 id="modalTitle"><%= t('.proposta') %></h3>
  <div id="formulari-proposta" class="formulari-proposta">
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          Propostes de millora
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container container-separator">
          <a class="button">Generar propostes</a>
          <div id="propostes">
            <%= render partial: '/propostes/llistat_propostes' %>
          </div>
          <%= link_to (new_proposta_path(entitat_id: params[:id])), remote: true do %>
            <span class="suma">+</span> <%= t('.afegir_proposta') %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          Evolució del consum i costos de l'energia
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container container-separator">
          Error: no hi ha suficient informació per generar el gràfic
        </div>
      </div>
    </div>
  </div>
</div>