<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          Propostes de millora
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container container-separator">

        <a class="button">Generar propostes automàtiques</a>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Cost</th>
      <th>Estalvi</th>
      <th>ROI</th>
      <th>CO2</th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/8/edit?locale=ca">
			    <div class="proposta-editar">
			    	Increment d&#39;aïllament de la façana per la cara interior
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/8?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/10/edit?locale=ca">
			    <div class="proposta-editar">
			    	Increment de l&#39;aïllament de les parets que dónen a patis interiors
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/10?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/11/edit?locale=ca">
			    <div class="proposta-editar">
			    	Substitució de finestres (vidres i marcs més aïllants)
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/11?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/12/edit?locale=ca">
			    <div class="proposta-editar">
			    	Propiciar l&#39;aprofitament de la llum natural
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/12?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/13/edit?locale=ca">
			    <div class="proposta-editar">
			    	Afavorir la ventilació natural
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/13?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/15/edit?locale=ca">
			    <div class="proposta-editar">
			    	Refredament gratuït
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/15?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
    <tr>
      <td>
      	<a data-remote="true" href="/propostes/17/edit?locale=ca">
			    <div class="proposta-editar">
			    	Increment d&#39;aïllament de les caixes de persiana
			    </div>
</a>			</td>
      <td>
          <i class="fa fa-eur" aria-hidden="true"></i>
          <i class="fa fa-eur" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-star" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
      </td>
      <td>
          <i class="fa fa-leaf" aria-hidden="true"></i>
      </td>
      <td>
      	<a data-confirm="Segur que vols eliminar?" data-remote="true" rel="nofollow" data-method="delete" href="/propostes/17?locale=ca">
				  <div class="deficiencia-eliminar button-right">
				  	<i class="fa fa-trash" aria-hidden="true"></i>
				  </div>
</a>			</td>
    </tr>
  </tbody>
</table>

        
        <div class="spacer"></div>
        <a data-remote="true" href="/propostes/new?edifici_id=3&amp;locale=ca">
          <span class="suma">+</span> Afegir proposta
</a>        <br/>
        <a data-remote="true" href="/proposta_predefinides/select?edifici_id=3&amp;locale=ca">
          <span class="suma">+</span> Afegir proposta predefinida
</a>
      </div>
    </div>
  </div>
</div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          Evolució del consum i costos de l'energia
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container container-separator">
          Error: no hi ha suficient informació per generar el gràfic
        </div>
      </div>
    </div>
  </div>
</div>