<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="boto-retorn">
          <%= link_to entitat_envolupant_path(@entitat) do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('.envolupant') %>
          <% end %>
        </div>
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container">
          
        	<%= render 'form', terra: @terra %>
          
        </div>
      </div>
    </div>
  </div>
</div>