// Place all the styles related to the Entitats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectes-background {
	background-color: #EAD1EE;
}

.item-llistat-edificis {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.imatge-item-llistat-edificis {
	float:left;
	border: 1px solid #cccccc;
	width: 100px;
	height: 100px;
	overflow:hidden;
}

.text-item-llistat-edificis {
	margin-left: 120px;
	padding-top: 41px;
}

.data-llistat-edificis {
	font-size: 0.9em;
	color: #999999;
}

.boto-item-llistat-edificis {
	margin-left: 15px;
}

.tabs-title > a {
	font-size: 1em;
}

.identificacio-title {
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}


/* AIXECAMENT DE DADES */

.item-aixecament {
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.envolupant-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/envolupant.jpg");
}

.iluminacio-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/iluminacio.jpg");
}

.clima-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/clima.jpg");
}

.factures-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/factures.jpg");
}

.altres-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/altres.jpg");
}

.habits-container {
	background-image: url("https://d116p86eni6yt2.cloudfront.net/imatges/habits.jpg");
}

.text-item-aixecament {
	background-color: #427853;
	padding: 4px 12px;
	color: white;
	font-weight: bold;
	width: fit-content;
}

.imatge-llistat-envolupant {
	width: 100px;
}

.envolupant-items-container {
	margin-bottom: 20px;
}

.notice-envolupant {
	border: 1px solid rgba(10, 10, 10, 0.25);
	background-color: #d7ecfa;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.item-aixecament-dades {
	border: 1px solid rgba(10, 10, 10, 0.25);
	background-color: #eaeaea;
	padding: 10px 15px;
	margin-bottom: 10px;
}

.columna-eliminar {
	width: 50px;
}

.text-notice-envolupant-destacat {
	font-weight: bold;
	font-size: 1.4em;
}








