// Place all the styles related to the Entitats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectes-background {
	background-color: #EAD1EE;
}

.item-llistat-edificis {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.imatge-item-llistat-edificis {
	float:left;
	border: 1px solid #cccccc;
	width: 100px;
	height: 100px;
}

.text-item-llistat-edificis {
	margin-left: 120px;
	padding-top: 41px;
}

.data-llistat-edificis {
	font-size: 0.9em;
	color: #999999;
}

.boto-item-llistat-edificis {
	margin-left: 15px;
}

.tabs-title > a {
	font-size: 1em;
}

.identificacio-title {
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}