// Place all the styles related to the Lampades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ilustracio-iluminacio {
	width: 100px;
	float: left;
	border: 1px solid #ccc;
}

.items-iluminacio-container {
	margin-left: 115px;
	margin-bottom: 20px;
	height: 200px;
}

.container-separator {
	margin-bottom: 20px;
}

.titol-tipus-iluminacio {
	font-size: 1.2em;
	font-weight: bold;
}