// Place all the styles related to the Propostes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.valors_despesa_energetica {
	font-size: 1.2em;
	font-weight: bold;
}

.text-despesa-economica {
	border: 1px solid #ccc;
	background-color: #eaeaea;
	padding: 15px;
}

.text-impacte-ambiental {
	border: 1px solid #ccc;
	background-color: #eaeaea;
	padding: 15px;
}