<h1>Editing Proposta Predefinida</h1>

<%= render 'form', proposta_predefinida: @proposta_predefinida %>

<%= link_to 'Show', @proposta_predefinida %> |
<%= link_to 'Back', proposta_predefinides_path %>
