
	<div class="footer-container">
		<div class="row">
			<div class="medium-12 columns">
				<div class="footer-text-container">
					<%= image_tag('https://d116p86eni6yt2.cloudfront.net/imatges/logo_caateeb.png', :alt => t('.logo_caateeb'), :class => 'logo-caateeb') %>
					<br/>
					© <%= Time.now.year %> CAATEEB - <a href="http://www.apabcn.cat/ca_es/altres/Pagines/avislegal.aspx"><%= t('.avis_legal') %></a> - <%= link_to t('.contacta'), home_contacta_path %>
				</div>
			</div>
		</div>
	</div>


<script>
function menuDesplegable() {
  var x = document.getElementById("Topnav");
  if (x.className === "topnav") {
      x.className += " responsive";
  } else {
      x.className = "topnav";
  }  
}
</script>