
<% if @subnavigation == true %>
	<% 
	if @subentitat == true
		nom_edifici = @edifici.nom + ', ' + @entitat.nom
	else
		nom_edifici = @entitat.nom
	end
	%>

	<div class="sub-top-bar">
		<div class="header-submenu">
	  	<ul class="header-submenu-list">
	      <li class="header-submenu-item header-nom-edifici">
	      	<% if @subentitat == true %>
	      		<%= link_to nom_edifici, entitat_ambits_path(@edifici) %>
	      	<% else %>
	      		<%= link_to nom_edifici, entitat_ambits_path(@entitat) %>
	      	<% end %>
	      </li>
	  		<% if @submenu_actiu == 'ambits' %>
	  			
	  		<% else %>
	  			<li class="header-submenu-item <% if @submenu_actiu == 'identificacio' %>
            header-submenu-actiu
            <% end %>"><%= link_to(t('.identificacio'), edit_entitat_path(@entitat), :class => 'header-submenu-link') %></li>
			    <li class="header-submenu-item <% if @submenu_actiu == 'aixecament' %>
            header-submenu-actiu
            <% end %>"><%= link_to(t('.aixecament'), entitat_aixecament_path(@entitat), :class => 'header-submenu-link') %></li>
		      
		    <% end %>
	  	</ul>
    </div>
	</div>
<% end %>

